*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "kanit";
    src: url(medias-site/Kanit-SemiBold.ttf);
}
@font-face {
    font-family: "geologica";
    src: url(medias-site/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf);
}
@font-face{
    font-family: 'kanit regular';
    src: url(medias-site/Kanit-Regular.ttf);
}
button{
    cursor: pointer;
}
header{
    height: 15vh;
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
    background-color: #FDFDFD;
}
header img{
    width: 200px;
    margin: 13px;
    transform: translate(37px,8px);
}
header form{
    margin: auto;
    transform: translateX(-15px);
}
header form input{
    height: 40px;
    width: 230px;
    border: none;
    border-radius: 20px 0px 0px 20px;
    padding-left: 15px;
    box-shadow: 3px 6px 17px #92929277;
    background-color: #F5F5F5;
}
header form input::placeholder{
    font-family: "geologica";
    color: #778dc5af;
}
header form button{
    height: 40px;
    width: 65px;
    border-radius: 8px;
    border: none;
    background-color: #778dc5af;
    margin-left: 5px;
    color: #F5E4BE;
    font-size: 10px;
    text-align: center;
    font-family: "geologica";
    transition: all 0.5s ease;
}
header form button:hover{
    background-color: #f3dfb4;
    color: #778dc5af;
    
}   
header button[type="button"]{
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 10px;
    color: #F5E4BE;
    background-color: #778dc5af;
    font-size:11px;
    font-family: "geologica";
    transform: translate(-40px,30px);
    transition: all 0.5s ease;
}
header button[type="button"]:hover{
    background-color: #f3dfb4;
    color: #778dc5af;
}    
.main{
    background: url(medias-site/image\ de\ fond\ DeukSil.jpg);
    height: 85vh;
}
.degrade{
    height: 85vh;
    width: 100vw;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.69),rgba(255, 255, 255, 0));
    position: absolute;
}
.main section{
    width: 45%;
    transform: translate(50%,80px);
}
section h1{
    font-size: 60px;
    font-family: 'kanit regular';
    color: #FDFDFD;
}
section p{
    font-size: 20px;
    font-family: 'geologica';
    color: #fdfdfdd7;
}
.main button{
    width: 220px;
    height: 35px;
    margin-top: 55px;
    cursor: pointer;
    margin-right: 25px;
    border-radius: 17.5px;
    border: none;
    background-color: #778dc5af;
    color: #F5E4BE;
    font-family: 'geologica';
    transition: all 0.5s ease;
}
.main button:hover{
    background-color: #f3dfb4;
    color: #778dc5af;
}
.main button:nth-child(1){
    background-color: #f3dfb4;
    color: #778dc5;
    font-family: 'geologica';
    transition: all 0.5s ease;
}
.main button:nth-child(1):hover{
    color: #f3dfb4;
    background-color: #778dc5af;
}
/* ============style pop-up authentification=========== */

.fond-sombre{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.767);
    display: none;
}
.authentification{
    background-color: rgba(253, 253, 253, 0.88);
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 80vh;
    color: #778dc5;
    display: none;
    transition: all 1s ease;
}
.authentification form{
    margin-top: 60px;
}
.authentification h2{
    text-align: center;
    font-family: 'geologica';
    font-size: 17px;
    margin-bottom: 15px;
}

.authentification form label{
    display: inline-block;
    width: 150px;
    margin-top: 30px;
    font-family: 'geologica';
    font-size: 13px;
    margin-left: 110px;
}
.authentification form input{
    height: 30px;
    border: none;
    width:200px;
}
.authentification button
{
    display: block;
    margin: auto;
    margin-top: 50px;
    background-color: #778dc5af;
    border: none;
    color: #f3dfb4;
    transition: all 0.5s ease;
}
.authentification button:hover{
    background-color: #f3dfb4;
    color: #778dc5af;
}
.authentification button:hover a{
    background-color: #f3dfb4;
    color: #778dc5af;
}
.authentification img{
    float: right;
    height: 30px;
    margin: 10px;
    cursor: pointer;
}

.authentification form button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-family: 'geologica';
    font-size: 13px;
}
.authentification button[type="button"]{
    width: 130px;
    height: 30px;
    border-radius: 10px;
    margin-top: 40px;
}
.authentification a{
    color: #f3dfb4;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding-top: 8px;
    font-family: 'geologica';
    font-size: 13px;
    transition: all 0.5s ease;
}
.authentification p{
    text-align: center;
    font-family: 'geologica';
    font-size: 15px;
    margin-top: 50px;
}